.App {
  text-align: center;
}

h2, h4 {
  margin: 5px;
}

.container{
  background-color: #F7FAFC;
}

.resume{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePhoto {
  width: 175px;
}

.section-about{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about h2, p {
  margin: 2px;
}

.section-about-left{
  padding: 50px;
}

.section-about-left h2, p{
  margin: 25px;
}

.section-profesionalExperience, .section-profesionalSkills, .section-contact, .section-education{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}